
.Home {
    background-image: linear-gradient(90deg, rgb(136, 96, 255), rgb(255, 146, 242));
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.bar_menu {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
}


.page {
    background-color: rgba(0, 0, 0, 0.434);
    height: 100%;
    width: 98%;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    text-align: center;
    row-gap: 200px;
}

.Bit_Games {
    width: 90px;
    height: 50px;
}

.img_bg_GameApp {
    
    width: 200px;
    max-width: 300px;
    height: auto;
    flex: 0 0 auto;
    aspect-ratio: 2 / 3;
    border-radius: 15px;
    flex-grow: 0;
    gap: 100px;
    object-fit: cover;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

ul {
   list-style: none;
}